body {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 10vh;
}

h1 {
  font-weight: bold;
  margin: 0 0 20px 0;
}

.panel {
  background-color: #ddd;
  padding: 40px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
}

form textarea {
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

form button {
  width: 100%;
}

#outputDiv {
  display: none;
}

p.output {
  font-size: 20px;
}