body {
  text-align: center;
  background-image: url(../img/background.jpg);
  background-size: fill;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 10vh;
}

h1 {
  font-weight: bold;
  margin: 0 0 20px 0;
}

.panel {
  background-color: #ddd;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
}

form textarea {
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

form button {
  width: 100%;
}

#outputDiv {
  display: none;
}
#outputDiv .panel {
  padding: 20px;
}

h2 {
  font-weight: bold;
  margin: 0 0 20px 0;
}

p.output {
  font-size: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

footer {
  width: 100%;
  color: #000;
  background-color: #ddd;
  padding: 20px;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
}